/* styles.css */
.swiper-button-prev,
.swiper-button-next {
  color: #c3a981;
  position: absolute;
}

.swiper-button-prev {
  left: 0;
  opacity: 0.2;
}

.swiper-button-next {
  right: 0;
  opacity: 0.2;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.5;
}
