@import "./styles/navLg.css";
@import "./styles/navSm.css";
@import "./styles/banner.css";
@import "./styles/details.css";
@import "./styles/timeDetails.css";
@import "./styles/ourServices.css";
@import "./styles/eventDetails.css";
@import "./styles/eventImages.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1618;
}

html {
  scroll-behavior: smooth;
}

/* This will hide the scroll bar */
/* ::-webkit-scrollbar {
  display: none;
} */
