@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "./styles/navLg.css";
@import "./styles/navSm.css";
@import "./styles/banner.css";
@import "./styles/details.css";
@import "./styles/timeDetails.css";
@import "./styles/ourServices.css";
@import "./styles/eventDetails.css";
@import "./styles/eventImages.css";
@import "./styles/reviews.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1618;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* This will hide the scroll bar */
/* ::-webkit-scrollbar {
  display: none;
} */

@layer components {
  .btn-primary {
    @apply px-8 py-3;
    @apply text-[#DFE0E0] bg-[#C3A981];
    @apply hover:bg-[#DFE0E0] hover:text-[#C3A981];
    @apply transition-all duration-500;
  }
  .btn-outline {
    @apply px-8 py-3;
    @apply border border-[#C3A981] text-[#C3A981];
    @apply hover:bg-[#C3A981] hover:text-[#DFE0E0];
    @apply transition-all duration-500;
  }
  .btn-xs {
    @apply px-2 py-1;
    @apply border border-[#C3A981];
    @apply rounded-full text-[#DFE0E0];
    @apply hover:bg-[#C3A081];
    @apply transition-all duration-500;
  }
}
